* {
  box-sizing: border-box;
}

h1 {
	text-align: center;
}

body {
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.title1 {
	color: white;
	background-color: red;
}

.title2 {
	color: white;
	background-color: green;
}

.title3 {
	color: white;
	background-color: blue;
}

.boxTitle {
	width: 150px;
	height: 50px;
	font-size: 125%;
	float: right;
	text-align: center;
	font-weight: bold;
	margin: auto;
}

.content {
	padding: 1%;
	padding-top: 55px;
}

.box {
	border: 4px solid black;
	background-color: beige;
}

@media (min-width: 992px) {
	.col-lg-4 {
    	width: 33.33%;
    	float: left;
    	padding: 1%;
  	}	
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
		padding: 1%;
		float: left;
	}
	.col-md-12 {
		width: 100%;
		padding: 1%;
		float: left;
	}
}

@media (max-width: 768px){
	.col-sm-12 {
		width: 100%;
		padding: 1%;
		float: left;
	}
}
